* {
	font-family: "Open Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	}

body, html, div {
	height: 100%;
	width: 100%;
	margin:0;
	padding: 0;
	}

body {
		overflow-x:hidden;
	}

h1 {
	margin: 1.5em 0;
	}

h2 {
	margin-top: 2em;
	}
p {
	line-height: 140%;
	}


/* IDs */

#sky, #background, #foreground, #burn, #stage1, #title, #stage2, #sticker {
	position:absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	}

#background {
	background: transparent url('../images/dark-background.png') left top no-repeat;
	background-size: cover;
	top: -20%;
	height: 120%;
	}

#burn {
	background: transparent url('../images/tree.png') 10%  bottom no-repeat;
	background-size: 50%;
	}

#foreground {
	background: transparent url('../images/light-background.png') left bottom no-repeat;
	background-size: cover;
	top:0% !important;
	height: 100%;
	}

#sky {
	background: transparent url('../images/stars.png') left 2% repeat-x;
	opacity: 5%;
	background-size: 75%;
	}

#stage1 {
	overflow:hidden;
	height: calc(100% - 32px);
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#323918+0,788244+52 */
	background: #323918; /* Old browsers */
	background: -moz-linear-gradient(top, #323918 0%, #788244 52%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #323918 0%,#788244 52%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #323918 0%,#788244 52%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#323918', endColorstr='#788244',GradientType=0 ); /* IE6-9 */
	}


#sticker {
	width: 100px;
	height: 100px;
	left: 80%;
	top: 10%;
	background: transparent url('../images/sticker-yellow.svg') left top no-repeat;
	background-size:cover;
	padding:1em;
	text-align:center;
	color:black;
	transform: rotate(-7.5deg);
	}

#title {
	color: white;
	width: 40%;
	height: 35%;
	top: 50%;
	left: 60%;
	}


/* classes */

.copy {
	max-width: 850px;
	margin: auto;
	}

.cover {
	float:right;
	width:35%;
	height:35%;
	margin:0 0 1em 2em;
	background:url(../images/cover.png) left top no-repeat;
	background-size:cover;
	box-shadow:0px 2px 2px rgba(0,0,0,0.14);
	}

.medal {
	position:absolute;
	}

.medal-container {
	height:auto;
	position:relative;
	float:left;
	width:35%;
	height:340px;
	margin-bottom: 2em;
	}

.medal-copy {
	float: left;
	width: 65%;
	}

.reviews {
	height:auto;
	float:none;
	position:relative;
	width:65%;
	clear:both;
	width:100%;
	}

.subtitle {
	font-weight: 300;
	font-size: 24px;
	color: rgba(255,255,255,0.5) !important;
	}

.top {
	margin-left: -1em;
	margin-bottom: -1em;
	}

.open-quote, .quote, .close-quote, .attribution {
	height: auto;
	width: auto;
	max-width: 650px;
	margin: 0 2em;
	text-align: left;
	}

.close-quote, .open-quote {
	font-family: "comfortaa";
	font-weight: 700;
	font-size: 64px;
	opacity: 0.25;
	height: 16px;
	text-align: left;
	margin-left: 40px;
	color: #F6A13E;
	}

.open-quote {
	margin-bottom: 0em;
	}

.quote {
	margin-top: 1.5em;
	}

.close-quote {
	margin: .25em 0 0 60px;
	}

.attribution {
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1.5px;
	text-align: left;
	margin-top:.5em;
	}



/* tags */

a {
	color: #F6A13E;
	text-decoration: none;
	}

a:hover {
	text-decoration: underline;
	}


@media (max-height:500px) and (min-width:800px){
#foreground {
	background-position: left -20%;


	}

#title {
	top: 45%;
	}

}


@media (max-height:800px) and (max-width:800px){
#foreground {
	top:-25% !important;
	height: 125%;


	}

}


@media (max-width: 880px) {
/* mobile */
#burn {
	background-size: 80%;
	top: -20%;
	height: 100%;
	}

#background {
	top: -20%;
	height: 120%;
	}

#foreground {
	top:-40% !important;
	height: 140%;
	}

#stage2 h1 {
	font-size: 20px;
	}

#stage2 h2 {
	font-size: 24px;
	}

#stage1 h1 {
	margin: 0.5em 0 .75em 0;
	}

#stage1 h3 {
	margin-top: .5em;
	}

#sticker {
	left: 60%;
	top: 20%;
}

#title {
	width: 90%;
	left:5%;
	top: auto;
	bottom: 1em;
	height: auto;
	text-align:right;
	}

#title h1 {
	font-size: 1.5em;
	}

#title p {
	font-size: .8em;
	}

.medal-copy {
	width: 100%;
	}

.subtitle {
	font-size: 1em;
	}

#stage2 {
	padding:1em;
	}

.cover {
	height: 200px;
	width: 200px;
	margin-right: 2em;
	}

p {
	width: calc(100% - 2em);
	}

.reviews {
	height:auto;
	clear:both;
	float:left;
	position:relative;
	width:auto;
	}

.medal-container {
	clear: both;
	}


}
